body {
  font-family: "Times New Roman", Times, serif;
  background-image: url("../img/index.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 1%;
  background-color: #008cba;
  color: white;
  border: 2px solid #008cba;
}

.button:hover {
  background-color: #035397;
  color: white;
  border: 2px solid #035397;
}
